body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background: #f9f9f9;
    background-color: rgb(102, 129, 63);
}
.JokesTitle{
    text-align: center;
}
#JokesContainer{
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    background: #d7d4ae;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(114, 31, 31, 0.1);
    font-size: 18px;
    line-height: 1.5;
}
#JokesBtn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: rgb(0, 0, 0);
    color: white;
    transition: 0.3s;
}
#JokesBtn:hover {
background: red;
transform: scale(1.1);
transition: 0.1ms;
}
